/* Your styles here */

/* Impostazioni generali */

body {
  box-sizing: border-box;
}

/* Header */
header {
  background-color: black;
}
.logo {
  width: 130px;
  height: 50px;
  padding-block: 20px;
  padding-left: 35px;
}

/* Main */

.first-article {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  text-align: center;
  padding-block: 150px;
  padding-inline: 400px;
}
h1 {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  padding-block: 15px;
  line-height: 1.5;
}

p {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  padding-bottom: 15px;
}

.button {
  background-color: #f04c2f;
  border-color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-block: 15px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.second-article {
  text-align: center;
  padding: 25px;
  margin: 20px;
}

h3 {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  padding-block: 15px;
  line-height: 1.5;
}

.round-image-notebook {
  border-radius: 50%;
  width: 60%;
  padding: 40px;
}

.red-box {
  background-color: red;
  text-align: center;
  padding-block: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.red-box-title {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-block: 30px;
  line-height: 1.5;
}

.red-box-pf {
  font-size: 1.2rem;
  color: white;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}
.red-box-span {
  color: white;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

.third-article {
  text-align: center;
}

.box-form {
  margin: 10px;
  border: 3px solid #dee1e3;
  float: left;
  display: block;
  width: 30%;
}

img {
  width: 100%;
  height: 300px;
}

/* Footer */
.footer {
  background-color: #25a2c3;

  font-size: 1.2rem;
  color: white;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}

h2 {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-block: 20px;
}

.div-contacts {
  width: 20%;
  text-align: left;
  padding-left: 40%;
}

.contacts {
  color: white;
  font-size: 1em;
}
